# Claude Code
./claude

# Cargo / Rust
debug/
**/target
**/*.rs.bk
*.pdb
**/mutants.out*/

# IDE
**/.idea
.DS_Store

# Secrets / identity
*.env
.identity-local
/.secrets
*.id
privatekey.asc

# Cargo local config
/.cargo/bin
/.cargo/.package-cache
/.cargo/.crates.toml
/.cargo/.crates2.json
!/.cargo/config.toml

# direnv
/.direnv

# Logs
*.log
logs.txt

# Hoprd / deploy artifacts
openapi.spec.json
deploy/nfpm/nfpm.generated.yaml
deploy/nfpm/changelog*
deploy/nfpm/*.1.gz

# Packet captures
**/*.pcap

# Swap files
*.swp
.pre-commit-config.yaml
result
