html {height: 100%;}
body {
  background: linear-gradient(#000050, #0000b4); /* Dark Blue to bright blue */
  color: #b4f0ff; /* Sky Blue */
  font-family: monospace;
  padding: 0 2rem;
  overflow: hidden;
  height: 100%;
}

/* NextJS sucks.. https://github.com/vercel/next.js/issues/4834  */
#__next {
  height: 100%;
}
