.tabs {
  display: flex;
  border: 1px solid #0000b4;
  margin: 0;
}
.tabs a {
  display: block;
  padding: 0.5rem;
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
}

.tabs a:hover {
  background-color: #0000b4;
}
.selectedTab {
  background-color: #0000b4;
}

.pane{
  display: block;
  border: 1px solid #3c64a5; /* Steel Blue */
  margin: 0;
  max-height: 70vh;
  overflow-y: scroll;
}
