.logs {
  background-color: #b4f0ff; /* Sky Blue */
  color: #000050; /* Dark Blue */
  padding: 1rem;
  overflow-y: scroll;
  min-height: 100%;
}
.connecting {
  background-color: #ffffa0; /* HOPR Yellow */
  color: red;
}

.logline {
  display: flex;
  justify-content: space-between;
}

.logline time {
  font-size: 0.7rem;
  display: block;
  opacity: 0.3;
  text-align:right;
  order: 2;
  flex: 0;
}

.logline pre {
  padding: 0.2rem;
  margin: 0;
  order: 1;
  flex: 1;
}

.loglineicons {
  width: 15px;
  height: 15px;
  flex: 0 0 auto;
}

.send {
  position: fixed;
  bottom: 0rem;
  left: 0rem;
  right: 0rem;
  background-color:  #000050;
  color: #b4f0ff;
  border-top: 1px solid #b4f0ff;
}

.send input {
  background: transparent;
  color: #b4f0ff;
  border: none;
  width:100%;
  padding: 1rem;
  font-family: monospace;
  font-size: 1.2rem;
}
.send input:disabled {
  background: #000050;
  opacity: 0.9;
}
.send input:disabled::placeholder {
  color: transparent;
}
